.container {
  #title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    line-height: 1.2;

    img {
      width: 40px;
      margin-right: 5px;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 30px;
    }
  }

  #timeline {
    padding: 0 150px;

    #work-info {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 10px 0 60px 30px;

      #work-title {
        color: #FACC15;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
      #work-company {
        font-weight: bold;
        display: flex;
        align-items: center;
      }
      #point {
        position: absolute;
        left: -5px;
        background-color: #FACC15;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      border-left: 1px solid black;
    }

    #work-description {
      padding-left: 60px;
    }
  }
}

@media (max-width: 767.98px) {
  #work-description {
    border-left: 1px solid black;
    padding-left: 30px !important;
  }

  #timeline {
    padding: 0px !important;
  }
}
