<div class="container">
  <div id="title">
    <div><img src="assets/img/work.png" alt=""></div>
    <div><span>Experiencia laboral</span></div>
  </div>
  <div id="timeline">
    <div class="row" *ngFor="let work of works">
      <div class="col-12 col-md-4" id="work-info">
        <div id="work-title"><div id="point"></div><span>{{work.role}}</span></div>
        <div id="work-company">{{work.company}}</div>
        <div id="work-date">{{work.startDate}} - {{work.endDate}}</div>
      </div>
      <div class="col-12 col-md-6" id="work-description">
        {{work.description}}
      </div>
    </div>
  </div>
</div>
