<div class="container">
  <div id="title">
    <div><img src="assets/img/work.png" alt=""></div>
    <div><span>Experiencia laboral</span></div>
  </div>
  <div id="timeline">
    <div fxLayout="row">
      <div fxFlex="40%" id="work-info">
        <div id="work-title"><div id="point"></div><span>Angular developer</span></div>
        <div id="work-company">IT RESOURCES</div>
        <div id="work-date">Ago/2023 - Actualmente</div>
      </div>
      <div fxFlex="60%" id="work-description">Desarrollo frontend con Angular, enfocado en la creación de componentes reutilizables, responsable de migración de versiones, y optimizacion y seguridad de la aplicacion del lado del cliente, brindando mis servicios a una entidad bancaria.</div>
    </div>
  </div>
</div>
