
<div class="container">
  <div class="row">
    <div class="col-12 col-md-1" id="img-container"> <img id="avatar-img" src="assets/img/avatar.png"></div>
    <div class="col-12 col-md-11" id="status-container">
      <div id="status">Escuchando propuestas</div>
    </div>
  </div>
  <div class="row" id="description-container">
    <div id="name">Hola, soy Facundo Salas!</div>
    <div id="about_me">+3 años de experiencia. Especializado en <b>Angular</b>, con enfoque en el desarrollo de aplicaciones web.</div>
    <div id="location">Mar del plata, Argentina <img id="country-img" src="assets/img/argentinian-flag.png"></div>
  </div>
  <div class="row" id="contact-container">
    <div class="contact-pill" (click)="sendEmail()"><img id="mail-img" src="assets/img/mail-icon.png">Contácteme</div>
    <div class="contact-pill" (click)="openLinkedin()"><img id="linkedin-img" src="assets/img/linkedin-icon.png">Linkedin</div>
  </div>
</div>
