.container{
  min-width: 290px;
  #avatar-img{
    width: 60px;
  }
  #status-container{
    display: flex;
    align-items: center;
    #status{
      margin-left: 20px;
      padding: 10px 20px;
      border-radius:50px;
      background-color: #dcfce7;
      display: inline-block;
      border: 1px solid rgb(11, 182, 11);
    }
  }
  #description-container{
    margin-bottom: 30px;
    min-width: 290px;
    #name{
      margin: 30px 0;
      font-size: 50px;
      line-height: 1.2;
    }
    #country-img{
      margin-left: 10px;
      width: 30px;
    }
    #location{
      display: flex;
    }
    #about_me{
      width: 50%;
    }
  }
  #contact-container{
    .contact-pill{
      display: flex;
      align-items: center;
      background-color: #e0e7e9;
      border: 1px solid grey;
      cursor: pointer;
      margin-right: 10px;
      padding: 10px 20px;
      border-radius: 50px;

      img{
        width: 30px;
        margin-right: 10px;
      }
    }
  }

}
