.container{
  #title{
    font-size: 30px;
    margin-bottom: 60px;
  }
  #project-container{
    margin-bottom: 60px;

    #img-container{
      display: flex;
      justify-content: center;
      img{
        border-radius: 20px;
        width: 100%;
      }
    }

    #project-description{
      #project-title{
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: bold;
        line-height: 1.2;
      }

      #languages{
        display: flex;
        justify-content: start;
        margin-bottom: 15px;

        .angular{background-color: #c3002f; color: white;}
        .bootstrap{background-color: #c38ee1; color: white;}
        .typescript{background-color: #93cff4; color: white;}

        div{
          margin-right: 15px;
        }
      }

      #description{
        margin-bottom: 30px;
      }

      #code{
        display: flex;
        flex-direction: row;

        div{
          margin-right: 30px;
        }
        img{
          width: 15px;
        }
      }
    }
  }

  .pill{
    cursor: pointer;
          border: 2px solid grey;
          margin-right: 15px;
          border-radius: 30px;
          padding: 5px 10px;
          font-weight: 500;
          background-color: rgb(228, 224, 224);
        }
}



@media (max-width: 767.98px) {
  #img-container {
    margin-bottom: 30px;
  }
}
