<div class="container">
  <div id="title">&lt;/&gt; Proyectos</div>
  <div class="row" id="project-container" *ngFor="let project of projects">
    <div class="col-12 col-md-6" id="img-container">
      <img [src]="project.urlImg">
    </div>
    <div class="col-12 col-md-6" id="project-description">
      <div id="project-title">{{project.title}}</div>
      <div id="languages">
        <span *ngFor="let language of project.languages" [ngClass]="language.toLowerCase()" class="pill">{{ language }}</span>
      </div>
      <div id="description">{{project.description}}</div>
      <div id="code">
        <div class="pill" (click)="openUrl(project.urlCode)">
          <img src="assets/img/github.png" alt=""> Code
        </div>
        <div class="pill" (click)="openUrl(project.urlPreview)">
          <img src="assets/img/eye.png" alt=""> Preview
        </div>
      </div>
    </div>
  </div>
</div>
