.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 300px;

  #navbar-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 150px;
  }

  #about-me-container{
    margin-bottom: 120px;
  }

  #work-experience-container{
    margin-bottom: 120px;
  }
}
