.container{
  #title{
    display: flex;
    margin-bottom: 60px;
    img{
      width: 30px;
      margin-right: 30px;
    }
    span{
      font-size: 30px;
    }
  }

  #description-container{
    .java-color{color: #0A94B4;}
    .angular-color{color: red;}

    #img-container{
      display: flex;
      justify-content: center;
      img{
        width: 80%;
        height: 80%;
        border-radius: 40px;
      }
    }

  }
}
