<div class="container">
  <div id="title">
    <img src="assets/img/nerd.webp" alt="">
    <span>¿Quien soy?</span>
  </div>
  <div id="description-container">
    <div class="row">
      <div class="col-12 col-md-6" id="description">
        Me llamo Facundo Salas y la tecnología ha sido mi pasión desde siempre. Empecé mi carrera en Accenture como
        desarrollador full stack con <span class="java-color">Java</span> y <span class="angular-color">Angular</span>, pero me di cuenta de que lo mío es el desarrollo frontend,
        especialmente <span class="angular-color">Angular</span>. <br><br>
        Ahora me dedico a crear la experiencia de usuario para un sitio web bancario, y la verdad es que disfruto cada
        momento de lo que hago.<br><br>
        Además de mi motivacion por el mundo IT, siempre trato de mantenerme activo, jugando al pádel, corriendo, y entrenando en el gimnasio.<br><br>
      </div>
      <div class="col-12 col-md-6" id="img-container">
        <img src="assets/img/freya.jpg" alt="">
      </div>
    </div>
  </div>
</div>
